In [ ]:
# Ans 1 
""" 
database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
database is usually controlled by a database management system also knows as dbms. 
together the data and the dbms, along with the applications that are associated with them, are referred to as a database

Differences b/w SQL and NoSQL

SQL
1. sql databases have fixed or static or predefined schema
2. these databases are not suited for hierarchical data storage.	
3. databases are best suited for complex queries	
5. vertically scalable	

NoSQL
1. have dynamic schema
2. NoSQl databases are best suited for hierarchical data storage.
3. these databases are not so good for complex queries
4. they are horizontally scalable

"""

In [ ]:
# Ans 2 

""" 
Stands for Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System) 
DDL consist of commands to commands like CREATE, ALTER, TRUNCATE and DROP. 
These commands are used to create or modify the tables in SQL

**CREATE Command**
This is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
example:    
    CREATE TABLE table_name
    (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype,
    ....
    );

**ALTER Command**
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
example:
    ALTER TABLE table_name
    ADD column_name datatype;

**TRUNCATE Command**
This command is used to remove all rows from the table, but the structure of the table still exists
example:
    TRUNCATE TABLE table_name;

**DROP Command**
This command is used to remove an existing table along with its structure from the Database.
example:
    DROP TABLE table_name;
"""

In [ ]:
# Ans 3 

""" 
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.
DDL consist of commands to commands like INSERT, UPDATE and DELETE. 

**INSERT Command**
The INSERT INTO statement of SQL is used to insert a new row in a table
example:
    INSERT INTO table_name VALUES (value1, value2, value3,…);

**UPDATE Command**
The UPDATE statement in SQL is used to update the data of an existing table in database.
example:
    UPDATE table_name SET column1 = value1, column2 = value2,... 
    WHERE condition;


**DELETE Command**
The DELETE Statement in SQL is used to delete existing records from a table.
example:
    DELETE FROM table_name WHERE some_condition;

"""

In [ ]:
# Ans 4 
""" 
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it
DDL consist of commands to commands like SELECT


**SELECT Command**
The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either the entire table or according to some specified rules.
example:
    SELECT column1,column2 FROM table_name; 

"""

In [ ]:
# Ans 5 

""" 
Primary Key
A primary key generally focuses on the uniqueness of the table. 
It is a column or a set of columns that uniquely distinguishes every row in the database. 
It means it should not have any duplicate value. Also, it doesn’t contain a NULL value. 


Foreign key
A foreign key is generally used to build a relationship between the two tables. 
The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.
"""

In [1]:
# Ans 6 
import mysql.connector
import logging
logging.basicConfig(filename="db.log", level=logging.DEBUG)
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="password",
        # database="test" if database is already exists0
    )
    logging.info(mydb)
except Exception as e:
    logging.error(e)
# print(mydb)



# The MySQLCursor of mysql-connector-python is used to execute statements to communicate with the MySQL database.
cursor = mydb.cursor()


 
#This method accepts a MySQL query as a parameter and executes the given query.
cursor.execute('SELECT * FROM test.test_table')

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1524107fa0>

In [ ]:
# Ans 7 
# Rrder of Execution of SQL Commands
"""
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.
5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
"""